/*GENERAL PAGE SETTINGS*/
* {
    margin: 0;
    padding: 0;
}

html {
    background: no-repeat url(../images/1.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

/*clock face background image*/
#clock {
    position: relative;
    width: 894px;
    height: 894px;
    margin: 20px auto 0 auto;
    background: url(../images/clockface.jpg);
    list-style: none;
}

/*clock hands same position*/
#sec, #min, #hour {
    position: absolute;
    width: 64px;
    height: 600px;
    top: 145px;
    left: 410px;
}

/*second hand*/
#sec {
    background: url(../images/sehand.png);
    z-index: 300;
}

/*minute hand*/
#min {
    background: url(../images/minhand.png);
    z-index: 200;
}

/*hour hand*/
#hour {
    background: url(../images/hourhand.png);
    z-index: 100;
}
